<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Wish Now to your people!</title>
    <meta name="description" content="We thought you should not miss a chance to wish people on Christmas and NewYear. Wish them now here.">
    <meta name="keywords" content="christmas,newyear,wish,people,now,today">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="css/styles.min.css" type="text/css" rel="stylesheet">

    <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2375458419123215",
    enable_page_level_ads: true
  });
</script>

</head>

<body>
  <div class="container">
    <div class="smoke">
        <span class="s0"><canvas class="myCanvas" width="300" height="150" style="margin-top:2.8em; margin-left:-0.5em;">
          Your browser does not support the HTML5 canvas tag.</canvas></span>
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>
        <span class="s7"></span>
        <span class="s8"></span>
        <span class="s9"></span>
    </div>

    <div class="smoke1">
        <span class="ss0"></span>
        <span class="ss1"></span>
        <span class="ss2"></span>
        <span class="ss3"></span>
        <span class="ss4"></span>
        <span class="ss5"></span>
        <span class="ss6"></span>
        <span class="ss7"></span>
        <span class="ss8"></span>
        <span class="ss9"></span>
    </div>

    <div class="smoke2">
        <span class="sa0"></span>
        <span class="sa1"></span>
        <span class="sa2"></span>
        <span class="sa3"></span>
        <span class="sa4"></span>
        <span class="sa5"></span>
        <span class="sa6"></span>
        <span class="sa7"></span>
        <span class="sa8"></span>
        <span class="sa9"></span>
    </div>


      <h1>Happy Christmas</h1>
      <div class="tree">
        <img src="img/tree.jpeg" alt="christmas tree" class="img-responsive"/>
      </div>
      <h2>this was sent by,</h2>
      <h3>"<%= wisher %>"</h3>
      <h4 style="text-align:center; font-size: 2.5em; margin:2em 0em;">Get Your Unique Link</h4>
      <div class="well form">
        <form role="form" action="/" method="post">
          <div class="form-group inputData">
            <label for="name">Your Name</label>
            <input type="text" class="form-control inputData"  placeholder="eg: your lovely person" name="name" id="name" style="font-family: 'Roboto', sans-serif;">
          </div>
          <button type="submit" class="btn btn-default sendData">Submit</button>
        </form>
      </div>
      <div class="well">
        <% if(link == "undefined"){%>
            <div class="uniquelink"></div>
          <% }else{ %>
            <div class="uniquelink">
              <h3 style="font-size:1.2em;">share on whatsapp <span>
              <a href="whatsapp://send?text=Wish%20Your%20people%20a%20happy%20christmas%20with%20this%20amazing%20link!%20%20<%= link %>"><img src="img/WhatsApp.png" alt="whatsapp" /></a>
              </span></h3>
            <% } %>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>

</html>
